
.calenderGRANDPARENT {
  flex: 1
}
.calenderPARENT {
  width: 100%;
  height: 100%;
  position: relative;
}

.calender {
  display: grid;
  row-gap: 2.5px;
  column-gap: 2.5px;

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;

  height: 100%;
  width: 100%;
  opacity: 100%;
  transform: translateX(0px);

  position: absolute;
  top: 0;
  left: 0;
  opacity: 100%;
  transition: 100ms;
}

.calender[data-position="left"] {
  transform: translateX(-20px);
  opacity: 0%;
}
.calender[data-position="right"] {
  transform: translateX(20px);
  opacity: 0%;
}
.wrap_Calender {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.wrap_weekDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 35px;
  grid-auto-rows: 35px;
  column-gap: 2px;
  margin-bottom: 6px;
}
.weekDay {
  background-color: rgb(74, 74, 77);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1px;
}
.weekDay.sat,
.weekDay.sun,
.weekendDay {
  background-color: rgba(255, 255, 255, 0.03);
}
