

:root {
    --color_selected: rgb(255, 249, 140);
    --color_selectedHover: rgba(255, 249, 140, 0.2);
}


.wrap_Controls {
    height: 54px;
    min-height: 54px;
    display: flex;
    align-items: center;

    margin-bottom: 12px;
    background-color: #4A4A4D;
    border-radius: 8px;
}
.wrap_Controls > * {
    cursor: pointer;
}
.wrap_Controls > *:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.date_controlBox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;

    height: 100%;
    padding-left: 18px;
    color: #ffffffad;
    
    font-size: 17px;
    border-right: 1px solid rgba(255, 255, 255, 0.03);
}
.controlBtn {
    height: 100%;
    width: 54px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}

.controlBtn[data-action="next"] {
    border-right: 1px solid rgba(255, 255, 255, 0.03);
    border-left: 1px solid rgba(255, 255, 255, 0.03);
}

.path_controlArrow {
    fill: rgba(255, 255, 255, 0.3);
} 
.circle_Control {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
}
.controlBtn:hover > .circle_Control,
.controlBtn:hover > svg >.path_controlArrow {
    background-color: rgba(255, 255, 255, 0.6);
    fill: rgba(255, 255, 255, 0.6);
}


.date_controlBox[data-click_effect="true"] {
    color: var(--color_selected);
    /* background-color: var(--color_selectedHover) */
}
.controlBtn[data-click_effect="true"] {
    background-color: var(--color_selectedHover)
}
.controlBtn[data-click_effect="true"] > .circle_Control,
.controlBtn[data-click_effect="true"] > svg >.path_controlArrow {
    background-color: var(--color_selected);
    fill: var(--color_selected);
}

.controlBtn[data-click_effect="false"]:active {
    background-color: var(--color_selectedHover)
}
.controlBtn[data-click_effect="false"]:active > .circle_Control,
.controlBtn[data-click_effect="false"]:active > svg >.path_controlArrow {
    background-color: var(--color_selected);
    fill: var(--color_selected);
}
