.day_View {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
    background-color: rgba(255, 255, 255, 0.053);
}
.heading_dayView {
    height: 65px;
    display: flex;
    align-items: flex-end;
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.heading_dayView > .title {
    color: rgba(255, 255, 255, 0.749);
    font-size: 20px;
    letter-spacing: 0.1px;
}