
.wrap_Todos {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
    border-radius: 8px;
    background-color: #464646;
}

.todo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

    border-bottom: 1px solid rgba(255, 255, 255, 0.032);
    padding: 18px 18px;
    cursor: pointer;
    position: relative;
}
.todo:last-of-type {
    border-bottom: 1px solid rgba(255, 255, 255, 0)
}
.title_Todo {
    font-weight: 700;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.9);
    
    letter-spacing: 0.1px;
    white-space: nowrap;
}
.title_Todo[data-priority="3"] {
    color: var(--low);
}
.title_Todo[data-priority="2"] {
    color: var(--medium);
}
.title_Todo[data-priority="1"] {
    color: var(--high);
}

.desc_Todo {
    margin-top: 7px;
    word-break: break-all;
    width: 90%;
}
.desc_Todo[data-empty="false"] {
    margin-top: 0px;
}

.actionBox_Todo {
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px;

}
.todoBtn {
    background-color: #4c4c4c;
    height: 32px;
    width: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    border-radius: 100px;
}
.todoBtn:hover {
    background-color: #545454;
}

.todoBtn > .x_line {
  width: 40px;
  height: 40px;

  position: absolute;
  width: 2px;
  height: 15px;

  rotate: 45deg;
  background-color: rgb(176, 176, 176);
  border-radius: 100px;
}
.todoBtn > .x_line.second {
  rotate: -45deg;
}
.todoBtn:hover > .x_line {
  background-color: #ff8c8c;
}

