
:root {
    --low: rgb(199, 199, 199);
    --medium: rgb(255, 249, 140);
    --high: rgb(255, 152, 152);

    --BG_low: rgb(99, 99, 99);
    --BG_medium: #e5e3ae4c;
    --BG_high: #ff87874f;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito" !important;
    transition: 150ms;
    border: 1px solid grey;
}

@font-face {
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito-Medium.ttf);
    font-weight: medium;
}

@font-face {
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito-Light.ttf);
    font-weight: light;
}


body {
    background-color: #404040;
    height: 100vh;
    color: rgba(255, 255, 255, 0.822); 
}

.allWrap {
    display: flex;
    height: 100%;
}

main {
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    
    display: flex;
    min-height: 97vh;
    flex-direction: column;
}

p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}