:root {
    --text_whiteHover: rgba(255, 255, 255, 0.85);
    --text_whitePassed: rgba(255, 255, 255, 0.25);
    --color_selected: rgb(255, 249, 140);
    --color_selectedHover: rgba(255, 249, 140, 0.20);
}

nav {
    display: flex;
    height: 52px;
    min-height: 52px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.wrap_navYear {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 32px;
    background-color: rgb(0 0 0 / 6%);
    border-right: 1px solid rgba(255, 255, 255, 0.03);
}
.wrap_navYear > h1 {
    font-size: 20px;
    font-weight: 600;
}
.wrap_navYear[data-click_effect="true"] {
    background-color: var(--color_selectedHover);
}
.wrap_navYear[data-click_effect="true"] > h1 {
    color: var(--color_selected);
}


.wrap_navMonths {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
;
}
.navlink_Month {
    height: 100%;
    flex: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(74 74 77);
    color: rgba(255, 255, 255, 0.50);
    cursor: pointer;
}
.navlink_Month[data-this_month="true"] {
    color: rgb(255, 141, 27);
    font-weight: 600;
}

.navlink_Month.active {
    background-color: rgba(255, 255, 255, 0.10) !important;
    color: var(--color_selected);
    /* border-top: 5px solid var(--color_selected); */
}


.navlink_Month[data-has_passed="true"] {
    background-color: rgb(0 0 0 / 6%);
    color: var(--text_whitePassed);
}
.navlink_Month.active[data-has_passed="true"] {
    background-color: rgba(255, 255, 255, 0.03);
    color: var(--color_selected)
}

.navlink_Month:hover {
    background-color: rgba(255, 255, 255, 0.03);
    color: var(--text_whiteHover);
}
.navlink_Month[data-has_passed="true"]:hover {
    background-color: rgba(255, 255, 255, 0.03);
    color: var(--text_whiteHover);
}

.navlink_Month[data-today="true"] {
    color: var(--text_whiteHover);
}

.navlink_Month[data-click_effect="true"],
.navlink_Month[data-has_passed="true"][data-click_effect="true"] {
    color: var(--color_selected);
    background-color: var(--color_selectedHover)
}
.navlink_Month[data-click_effect="false"]:active {
    color: var(--color_selected);
    background-color: var(--color_selectedHover)
}

