

nav {
    display: flex;
    height: 52px;
    min-height: 52px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.wrap_navYear {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 32px;
    background-color: rgb(0 0 0 / 6%);
    border-right: 1px solid rgba(255, 255, 255, 0.03);
}
.wrap_navYear > h1 {
    font-size: 20px;
    font-weight: 600;
}
.wrap_navYear[data-click_effect="true"] {
    background-color: var(--color_selectedHover);
}
.wrap_navYear[data-click_effect="true"] > h1 {
    color: var(--color_selected);
}
.wrap_navMonths {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
;
}

.navlink_Month {
    height: 100%;
    flex: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(74 74 77);
    color: rgba(255, 255, 255, 0.50);
    cursor: pointer;
}
.navlink_Month[data-this_month="true"] {
  color: rgb(255, 141, 27);
  font-weight: 600;
}
.navlink_Month[data-has_passed="true"] {
    background-color: rgb(0 0 0 / 6%);
    color: var(--text_whitePassed);
}

.navlink_Month:hover {
  background-color: rgba(255, 255, 255, 0.03);
  color: var(--text_whiteHover);
}
.navlink_Month[data-this_month="true"]:hover {
  color: var(--color_orange);
  background-color: var(--color_orangeHover);
}
.navlink_Month.active[data-this_month="true"]:hover {
  color: var(--color_selected);
  background-color: var(--color_selectedHover);
}

.navlink_Month[data-click_effect="false"]:active {
  color: var(--color_selected);
  background-color: var(--color_selectedHover)
}
.navlink_Month[data-click_effect="true"],
.navlink_Month[data-has_passed="true"][data-click_effect="true"] {
    color: var(--color_selected) !important;
    background-color: var(--color_selectedHover) !important
}

.navlink_Month.active {
  background-color: rgba(255, 255, 255, 0.10);
  color: var(--color_selected);
  font-weight: 600;
}

.todoCount_month[data-count="0"]{
  display: none;
}
.todoCount_month {
  margin-left: 6px;
  width: 18px;
  height: 18px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 12px;
  font-weight: 600;
  background-color: rgb(72, 72, 72);
  border-radius: 100px;
}
.navlink_Month[data-has_passed="true"] > .todoCount_month {
  color: rgba(255, 255, 255, 0.50);
}
.navlink_Month:hover > .todoCount_month {
  color: var(--text_whiteHover);
  background-color: rgb(91 91 91);
}

.navlink_Month[data-this_month="true"] > .todoCount_month {
  color: var(--color_orange);
  background-color: var(--color_orangeHover);
}
.navlink_Month[data-this_month="true"]:hover {
  color: var(--color_orange);
  background-color: var(--color_orangeHover);
}

.navlink_Month.active > .todoCount_month {
  color: var(--color_selected);
  background-color: var(--color_selectedHover);
}